
	/* ====================================== TERUG NA HOMEPAGE LINK STYLE ====================================== */
    :root{
	  --pink-1: #ffa4de;
      --pink-2: #ffe4f5;
      --accent: #c70062;
      --text: #8b0044;
	}

	body{
	  margin:0;
	  font-family:"Playfair Display", serif;
	  background:linear-gradient(var(--pink-1), var(--pink-2));
	  color:var(--text);
	  text-align:center;
	}

	.page{
	  max-width:1100px;
	  margin:0 auto;
	  padding:30px 20px;
	}

	h2{
	  font-family:"Dancing Script", cursive;
	  font-size:48px;
	  color:var(--accent);
	  margin-bottom:20px;
	}

	a{
	  color:var(--accent);
	  text-decoration:none;
	  font-family:"Dancing Script", cursive;
	  font-size:22px;
	}

	a:hover{
	  text-decoration:underline;
	}
	
	/* ====================================== HARTJIE MUIS WYSER ====================================== */
    body {
      cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' transform='rotate(-12)'%3E%3Cpath d='M12 20 C12 20 4 14.5 4 9 C4 6.5 6 5 8 5 C9.5 5 11 6 12 7.5 C13 6 14.5 5 16 5 C18 5 20 6.5 20 9 C20 14.5 12 20 12 20 Z' fill='%23ff5c9d' stroke='%23e30b5d' stroke-width='1.8' stroke-linejoin='round'/%3E%3C/svg%3E") 12 12, auto;

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin: 0;
      font-family: "Playfair Display", serif;
      color: var(--text);
      -webkit-tap-highlight-color: transparent;
    }
	